<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link href="../styles/reset.css" rel="stylesheet"/>
    <link href="../styles/base.css" rel="stylesheet"/>
    <link href="../styles/layout.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h1>Book Detail</h1>
      <%- include('../layouts/nav.ejs')%>
    </header>
    <main>
      <h4>My Book Collection</h4>
      <section>
        <%- include('../layouts/book_module.ejs')%>
      </section>
      
      
    </main>
  </body>
</html>