<!DOCTYPE html>
<html>
    <head>
      <title> Book Collection</title>
      <link href="reset.css" rel="stylesheet"/>
      <link href="base.css" rel="stylesheet"/>
      <link href="layout.css" rel="stylesheet"/>
    </head>
    <body>
      <header>
        <h1>Hello We are dragons</h1>
        <a href="/test">This is a link to our test route</a>
        <a href='/searches/new'>Search for books</a>
      </header>
      <main>
        <ul id="resultbox">
        <% books.forEach(book => { %>
          <ul class='books'>
           <img class="coverimg" src=<%= book.image %>>
            <li class = "title">Book title: <%= book.title %></li>
            <li class="author">Author: <%= book.author %></li>
            <li class= "description">Description: <%= book.description %></li>
          </ul>
          <%}) %>
        </ul>
      </main>
    </body>
</html>