<header>
  <h1>Hello We are dragons</h1>
  <nav>
    <ul>
      <li><a href="/test">test route</a></li>
      <li><a href="/">Home</a></li>
      <li><a href='/searches/new'>Search for books</a></li>
    </ul>
  </nav>
</header>