/* lets do flex */
header{
  
  background-color: rgba(39, 225, 142, 0.712);
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(1, 2, 87)
  
}
body{
  width: 480px;
}

.books{
  width: 300px;
  
}
.title, .description, .author{
  display: flex;
  background-color: rgba(39, 163, 142, 0.712);
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(1, 2, 87)
} 
